#maxsim_ide {
    position: fixed;
    top: 0;
    right: 0;
    width: 66%;
    height:100%;
    background-color:#111;

    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%), 0 10px 20px 0 rgb(0 0 0 / 20%) !important;

    /*
    resize: horizontal;
    overflow: hidden;
    transform: rotate(180deg);
    */
}

#maxsim_ide_graph {
    position: absolute;
    bottom:0;
    
    width:2000px;
    height:30%;
    margin-left:-2000px;
}


#maxsim_ide_menu {
    display: inline-block;
    position: fixed;
    width:20px;
    height:100%;
    background-color:#555;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

#maxsim_ide_menu a {
    color:#BBB;
    font-weight:bold;
    text-decoration:none;
}



#maxsim_ide_tree {
    display: inline-block;
    color:#FFF;
    background-color:#444;
    font-family: sans-serif;
    width:200px;
    margin-left:20px;
    font-size: 14px;
    height:100%;
}

.maxsim_ide_tree_item {
    margin:0;
    padding:2px 8px;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
}

.maxsim_ide_tree_item_selected {
    background-color: #094771;
}



#maxsim_ide_editor { 
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin-left: 220px;
}
