#################### maxsim ####################

DirectorySlash off

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /+maxsim/maxsim.php [L]

<FilesMatch "\.(php|phpt|log|sh|ini|env|yml|md)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<FilesMatch "(Dockerfile)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<Files "maxsim.php">
 Order Allow,Deny
 Allow from all
</Files>

RedirectMatch 403 /\..*
RedirectMatch 403 .*password.*

################################################
