#################### maxsim ####################

DirectorySlash Off

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /$maxsim.php [L]

<FilesMatch "\.(php|phpt|txt|json|xml|yml|log|ini|env)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<FilesMatch "(password|^\.)">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<Files $maxsim.php>
 Order Allow,Deny
 Allow from all
</Files>

RedirectMatch 403 /\.git\.*

################################################



order deny,allow
deny from all
allow from 127.0.0.1
allow from 172.17.0.1
